.descriptionContainer {
  position: relative;
  width: 98vw;
  /* }{ */
  height: 1000px;
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px;
}

/* headerDescription */

.descriptionContainer .headerDescription {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 0;
  top: 2vh;
  left: 5vw;
  width: 90vw;
}

.headerDescription img {
  display: block;
  height: 38px;
  padding: 10px;
  padding-right: 5px;
}

.headerDescription h1 {
  margin: 0;
  height: 38px;
  margin-left: 2.5vw;
  flex-grow: 1;
}

.headerDescription h3 {
  margin: 0;
  padding: 8px 10px;
}

/* imgAndArrowsContainer */

.imgAndArrowsContainer {
  position: absolute;
  top: 8%;
  width: 90vw;
  margin: 0 4vw;
  z-index: 990;
}

.imgAndArrowsContainer .imgPokemon {
  width: 45vw;
  height: 45vw;
  margin: 0 calc(17.5vw - 20px);
}

.imgAndArrowsContainer .arrow {
  width: 5vw;
  margin-left: 10px;
  margin-right: 10px;
}

.opacity {
  opacity: 0.4;
}

/* typeAndAboutContainer */

.typeAndAboutContainer {
  background-color: var(--first-color);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 1.5vw;
  /* }{ */
  height: 775px;
  width: 95vw;
  position: absolute;
  top: 20%;
  z-index: 980;
}

.containerTypes {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 1vw 1.5vw;
  left: 0;
  right: 0;
  margin: 18% auto 0 auto;
  /* }{ */
  border-radius: 20px 20px 20px 20px;
}

.containerTypes img {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  background-color: #ffffff09;
}

.typeAndAboutContainer .about {
  font-size: medium;
  position: relative;
  /* }{ */
  margin: 35% auto 0 auto;
  text-align: center;
  width: fit-content;
}

/* weightHeightAndAbilitiesContainer */
.weightHeightAndAbilitiesContainer {
  display: flex;
  justify-content: center;
  position: relative;
  /* }{ */
  top: 3%;
  z-index: 981;
  width: 90vw;
  margin: 2% auto 0% auto;
  margin-left: auto;
  margin-right: auto;
}

.weightHeightAndAbilitiesContainer img {
  width: 22px;
}

.weightHeightAndAbilitiesContainer .abilities h2 {
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  display: inline;
  margin: 0;
}

.weightHeightAndAbilitiesContainer h4 {
  font-size: 13px;
  opacity: 0.55;
  margin: 0;
  margin-bottom: 8px;
}

.weightHeightAndAbilitiesContainer .help {
  width: 12px;
  margin: 0 6px;
}

.weightHeightAndAbilitiesContainer .abilities {
  width: 40vw;
  padding: 14px 0;
  text-align: center;
}

.weightHeightAndAbilitiesContainer .abilities div {
  margin: 0 auto;
}

.weightHeightAndAbilitiesContainer .weight {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 14px;
  width: 40vw;
}

.weightHeightAndAbilitiesContainer .weight div {
  margin: 0 auto;
}

.weightHeightAndAbilitiesContainer .height {
  display: flex;
  align-items: center;
  text-align: center;
  border-left: rgba(0, 0, 0, 0.555) solid 2px;
  border-right: rgba(0, 0, 0, 0.555) solid 2px;
  width: calc(20vw - 4px);
}

.weightHeightAndAbilitiesContainer .height div {
  width: calc(25vw - 4px);
}

.height img {
  width: 20px;
}

.weight img {
  width: 20px;
  margin-right: 6px;
}

/* abilityDescription */
.abilityDescription {
  position: absolute;
  top: 0;
  background: var(--first-color);
  height: 100%;
  width: 90vw;
}

.abilityDescription div {
  width: 80vw;
  margin: 0 auto;
  padding: 0% 6%;
  border: 1px solid rgba(0, 0, 0, 0.555);
  border-radius: 16px;
}

.abilityDescription p {
  font-size: 16px;
}

.abilityDescription .btnAbilityDescription {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  background: rgb(189, 191, 196);
  position: absolute;
  top: -10px;
  right: 25px;
}

/* description */

.description {
  position: relative;
  /* }{ */
  top: 6%;
  z-index: 982;
  margin: 1% 6% 0 6%;
  text-align: center;
}

/* baseStats */
.baseStats {
  z-index: 982;
  position: relative;
  width: 90%;
  height: 28vh;
  /* }{ */
  top: 9%;
  text-align: center;
  margin: 0 auto;
}

.baseStats div {
  margin: 0 auto;
  width: 80%;
  height: 20px;
  border-radius: 25px;
  margin-bottom: 3%;
}

.bar {
  display: flex;
  width: fit-content;
}

.bar div p:first-of-type {
  width: 50px;
  height: 20px;
  margin: 0px;
  border-radius: 25px;
}
.bar p:first-of-type {
  padding: 0 7px;
  width: 75px;
  height: 20px;
  margin: 0px;
}

/* evolutionChain */

.evolutionChain {
  position: absolute;
  z-index: 983;
  width: 90%;
  /* }{ */
  top: 80%;
  margin: 0 5%;
  text-align: center;
}

.evolutionChainContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.evolutionChainContainer img {
  width: 20vw;
  height: 20vw;
}

.evolutionChainContainer .arrow {
  width: 5vw;
}

/* 768 1024 1600 */

@media screen and (min-width: 540px) {
  .descriptionContainer {
    height: 1250px;
  }

  /* headerDescription */

  .headerDescription img {
    height: 30px;
    padding: 0;
    margin: 4px 0;
  }

  .headerDescription h1 {
    font-size: 38px;
  }

  .headerDescription h3 {
    font-size: 30px;
  }

  /* imgAndArrowsContainer */

  .imgAndArrowsContainer .imgPokemon {
    width: 30vw;
    height: 30vw;
    margin: 0 calc(25vw - 20px);
  }

  /* typeAndAboutContainer */

  .typeAndAboutContainer {
    height: 980px;
  }

  .containerTypes {
    padding: 1vw 1.5vw;
    margin: 15% auto 0 auto;
  }

  .containerTypes img {
    width: 5vw;
    height: 5vw;
  }

  .typeAndAboutContainer .about {
    margin: 25% auto 0 auto;
  }

  /* weightHeightAndAbilitiesContainer */
  .weightHeightAndAbilitiesContainer {
    font-size: 18px;
  }
  .weightHeightAndAbilitiesContainer .abilities h2 {
    font-size: 18px;
  }

  /* abilityDescription */

  .abilityDescription p {
    font-size: 18px;
  }

  .abilityDescription .btnAbilityDescription {
    top: -25%;
    right: 2%;
    scale: 1.5;
    font-size: 16px;
  }

  /* description */

  .description {
    top: 4%;
  }

  /* baseStats */
  .baseStats {
    top: 6%;
    scale: 1.15;
  }

  .evolutionChain {
    scale: 1.15;
  }
}

@media screen and (min-width: 1024px) {
  /* headerDescription */
  .descriptionContainer .headerDescription {
    left: 15vw;
    width: 70vw;
  }

  /* imgAndArrowsContainer */
  .imgAndArrowsContainer {
    width: 70vw;
    margin: 0 15vw;
  }

  .imgAndArrowsContainer .arrow {
    width: 5vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  .imgAndArrowsContainer .imgPokemon {
    width: 30vw;
    height: 35vh;
    margin: 0 calc(15vw - 20px);
  }

  /* typeAndAboutContainer */

  .typeAndAboutContainer {
    margin: 0 15vw;
    /* }{ */
    width: 70vw;
  }

  .containerTypes {
    scale: 0.8;
    border-radius: 5vh 5vh 5vh 5vh;
  }

  .typeAndAboutContainer .about {
    margin: 18vw auto 0 auto;
  }

  /* weightHeightAndAbilitiesContainer */
  .weightHeightAndAbilitiesContainer {
    width: 70vw;
  }

  /* abilityDescription */
  .abilityDescription {
    width: 70vw;
  }

  .abilityDescription div {
    width: 65vw;
  }

  .abilityDescription p {
    font-size: 16px;
  }

  .abilityDescription .btnAbilityDescription {
    top: -8px;
    right: 35px;
  }

  /* baseStats */

  .evolutionChain {
    top: 80%;
    scale: 1.15;
  }

  .evolutionChainContainer img {
    width: 8vw;
    height: 8vw;
  }

  .evolutionChainContainer .arrow {
    width: 2.5vw;
  }
}

@media screen and (min-width: 1600px) {
  .descriptionContainer {
    height: 1550px;
  }

  /* typeAndAboutContainer */

  .typeAndAboutContainer {
    /* }{ */
    height: 1200px;
  }

  /* abilityDescription */

  .abilityDescription .btnAbilityDescription {
    top: -10%;
    right: 4.3%;
    scale: 1.5;
    font-size: 16px;
  }
  /* baseStats */
  .evolutionChain {
    top: 80%;
    scale: 1.15;
  }
}

/* 

*/

.blue {
  background: #00bfff9b;
}

.black {
  background: #00000090;
}

.gray {
  background: #e8e8e8;
}

.pink {
  background: #ff69b49d;
}

.purple {
  background: #aa61ed9d;
}

.white {
  background: #cfcfcf;
}

.red {
  background: #fe0033bb;
}

.yellow {
  background: #ffe81b9d;
}

.green {
  background: #00e99bc9;
}

.brown {
  background: #8b45139d;
}

/*  */
.blueC {
  color: #00bfff9b;
}

.blackC {
  color: #00000090;
}

.grayC {
  color: #a9a9a9ed;
}

.pinkC {
  color: #ff69b49d;
}

.purpleC {
  color: #892be29d;
}

.whiteC {
  color: #7d7d7d;
}

.redC {
  color: #fe0033d1;
}

.yellowC {
  color: #c6b300;
}

.greenC {
  color: #00e99b;
}

.brownC {
  color: #8b45139d;
}

/*  */

.blueB {
  border: 3px solid #00bfff9b;
}

.blackB {
  border: 3px solid #00000090;
}

.grayB {
  border: 3px solid #a9a9a9ed;
}

.pinkB {
  border: 3px solid #ff69b49d;
}

.purpleB {
  border: 3px solid #892be29d;
}

.whiteB {
  border: 3px solid #7d7d7d;
}

.redB {
  border: 3px solid #fe0033d1;
}

.yellowB {
  border: 3px solid #c6b300;
}

.greenB {
  border: 3px solid #00e99b;
}

.brownB {
  border: 3px solid #8b45139d;
}

/*  */

.default-color {
  background-color: #cfcfcf;
}
