html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
}

:root {
  --first-color: #e4e4e4;
  --second-color: #ffffff;
  --third-color: #f5e467;
  --fourth-color: #f54ea4;
  --fifth-color: #a83e75;
  /* --soft-purple: #eaf2fd;
  --write: #ffffff;
  --gray-100: #e5e5e5;
  --font-color: #464646;
  --font-family: "Inter", sans-serif; */
}
